{% extends 'yoyozj/base.html' %}
{% load staticfiles %}

{% block title %}友家生鲜{% endblock %}

{% block content %}
    <link href="{% static 'css/fresh_food.css' %}" rel="stylesheet">
    <!-- Content -->
    <div class="container seafood-content">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">友家海鲜
                    <small>新鲜食材</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {% for fresh in fresh_food_list %}
                <div class="col-md-6 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/bridge.jpg' %}" alt="">
                    </a>
                    <h3>
                        <a href="#">{{ fresh.title }}</a>
                    </h3>
                    <p class="line-limit-length">{{ fresh.content }}</p>
                </div>
            {% endfor %}
            {#                <div class="col-md-6 portfolio-item">#}
            {#                    <a href="#">#}
            {#                        <img class="img-responsive" src="{% static 'images/timg2.jpg' %}" alt="">#}
            {#                    </a>#}
            {#                    <h3>#}
            {#                        <a href="#">{{ fresh.title }}</a>#}
            {#                    </h3>#}
            {#                    <p class="line-limit-length">{{ fresh.content }}</p>#}
            {#                </div>#}
        </div>
        <!-- /.row -->


        {#            <!-- Projects Row -->#}
        {#            <div class="row">#}
        {#                <div class="col-md-6 portfolio-item">#}
        {#                    <a href="#">#}
        {#                        <img class="img-responsive" src="{% static 'images/timg2.jpg' %}" alt="">#}
        {#                    </a>#}
        {#                    <h3>#}
        {#                        <a href="#">Project Title</a>#}
        {#                    </h3>#}
        {#                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were#}
        {#                        multiply so sixth gathering fifth that man fowl made.</p>#}
        {#                </div>#}
        {#                <div class="col-md-6 portfolio-item">#}
        {#                    <a href="#">#}
        {#                        <img class="img-responsive" src="{% static 'images/timg3.jpg' %}" alt="">#}
        {#                    </a>#}
        {#                    <h3>#}
        {#                        <a href="#">Project Title</a>#}
        {#                    </h3>#}
        {#                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were#}
        {#                        multiply so sixth gathering fifth that man fowl made.</p>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {##}
        {#            <!-- Projects Row -->#}
        {#            <div class="row">#}
        {#                <div class="col-md-6 portfolio-item">#}
        {#                    <a href="#">#}
        {#                        <img class="img-responsive" src="{% static 'images/timg4.jpg' %}" alt="">#}
        {#                    </a>#}
        {#                    <h3>#}
        {#                        <a href="#">Project Title</a>#}
        {#                    </h3>#}
        {#                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were#}
        {#                        multiply so sixth gathering fifth that man fowl made.</p>#}
        {#                </div>#}
        {#                <div class="col-md-6 portfolio-item">#}
        {#                    <a href="#">#}
        {#                        <img class="img-responsive" src="{% static 'images/timg5.jpg' %}" alt="">#}
        {#                    </a>#}
        {#                    <h3>#}
        {#                        <a href="#">Project Title</a>#}
        {#                    </h3>#}
        {#                    <p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were#}
        {#                        multiply so sixth gathering fifth that man fowl made.</p>#}
        {#                </div>#}
        {#            </div>#}


        <!-- Pagination -->
        {#        <div class="row text-center">#}
        {#            <div class="col-lg-12">#}
        {#                <ul class="pagination">#}
        {#                    <li>#}
        {#                        <a href="#">&laquo;</a>#}
        {#                    </li>#}
        {#                    <li class="active">#}
        {#                        <a href="#">1</a>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <a href="#">2</a>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <a href="#">3</a>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <a href="#">4</a>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <a href="#">5</a>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <a href="#">&raquo;</a>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#        </div>#}
        <!-- /.row -->


    </div>
    <!-- /.container -->
{% endblock %}